body{
    background: white;
}

#showScoresButton{
    font-size: 10px;
    position: absolute;
    left: 0%;
    top: 1%;
    text-decoration: underline;
    color: blue;
}

#quizArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#titleQuestion{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 0.5%;
    width: 50%;
    left: 25%;
    top:5%;
}

#description{
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width:45%;
    left:27.5%;
    top:30%;
}

#startBtn{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    width: 7.5%;
    left: 46.25%;
}

#answer{
    position: absolute;
    width:30%;
    top:30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    visibility: hidden;
}

#answer li{
    font-size: 30px;
    margin: 4%;
    padding: 2%;
    border: 3px solid black;
    border-radius: 2%;
    list-style-position:inside;

}

#answer li:hover{
    background: whitesmoke;
}

#resultArea{
    position: absolute;
    width:50%;
    left:25%;
    top: 87%;
    border-top: 1px solid grey;
    visibility: hidden;
}

#highscoreArea{
    width: 15%;
    height: 5%;
    display: none;
    position: absolute;
    justify-content: space-evenly;
    left: 42.5%;
    top: 65%;
}


#submitScoreArea{
    width: 35%;
    height: 3.5%;
    display: flex;
    position: absolute;
    left: 32.5%;
    top: 50%;

    display: none;
}

#wrong{
    color:grey;
    display: none;

}

#right{
    color:grey;
    display: none;
}

#timerArea{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 30px;
}

#timerArea h5, h6{
    margin: 0px;
    display: flex;
    justify-content: right;
}

@media screen and (max-width : 1300px){
    #titleQuestion{
        font-size: 50px;
    }
}